- if current_user.staff?
  .pull-right
    = form_for @ticket, html: {class: 'form-inline'} do |f|
      = f.hidden_field :employee_id, value: current_user.id
      .form-group
        = f.submit 'Assign to me', class: 'form-control btn-primary'