%h1 Listing tickets

.row
  .col-sm-8
    %ul.list-group
      - @tickets.each do |ticket|
        %li.list-group-item
          = link_to ticket.subject, ticket
          .pull-right.label.label-default= ticket.ticket_status.name
          .pull-right.label.label-primary= ticket.department.title
  = render 'filter'
