%h1 Listing ticket_statuses

%table
  %tr
    %th
    %th
    %th

  - @ticket_statuses.each do |ticket_status|
    %tr
      %td= link_to 'Show', ticket_status
      %td= link_to 'Edit', edit_ticket_status_path(ticket_status)
      %td= link_to 'Destroy', ticket_status, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Ticket status', new_ticket_status_path
